@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-antonio: var(--font-antonio), ui-sans-serif, system-ui, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
